In [96]:
# Data Pre-Processing

# Handling missing values

In [97]:
import numpy as np
import pandas as pd

In [98]:
# read data from csv
data = pd.read_csv('Dataset.csv')

In [99]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023 entries, 0 to 2022
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer ID     2023 non-null   int64
 1   Age             2008 non-null   float64
 2   Gender          2008 non-null   object
 3   Item Purchased  2023 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 63.3+ KB

In [100]:
import numpy as np

In [101]:
## We see that there are missing values in Age and Gender column
data['Age']=data['Age'].fillna(data['Age'].median()) ## filled missing data using median
data['Gender']=data['Gender'].fillna(data['Gender'].mode()[0]) ## filled categorical data using mode

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023 entries, 0 to 2022
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer ID     2023 non-null   int64
 1   Age             2023 non-null   float64
 2   Gender          2023 non-null   object
 3   Item Purchased  2023 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 63.3+ KB

In [103]:
## remove duplicates
data_removed_duplicates = data.drop_duplicates()

In [104]:
data_removed_duplicates.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 0 to 2002
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer ID     2000 non-null   int64
 1   Age             2000 non-null   float64
 2   Gender          2000 non-null   object
 3   Item Purchased  2000 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 78.1+ KB