In [1]:
import pandas as pd

In [3]:
data =  pd.read_csv('Dataset.csv')

In [8]:
data

      Customer ID   Age Gender Item Purchased
0            1994  32.0   Male         Blouse
1            1995  33.0   Male     Sunglasses
2            1996  67.0   Male          Boots
3            1997  67.0   Male       Sneakers
4            1998  42.0   Male       Backpack
...           ...   ...    ...            ...
2018         1999  20.0   Male          Pants
2019         2000  39.0   Male          Socks
2020            1  55.0   Male         Blouse
2021            2  19.0   Male        Sweater
2022            3  50.0   Male          Jeans

[2023 rows x 4 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023 entries, 0 to 2022
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Customer ID     2023 non-null   int64
 1   Age             2008 non-null   float64
 2   Gender          2008 non-null   object
 3   Item Purchased  2023 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 63.3+ KB